*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.subMain{
    width: 500px;
    height: 250px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 15px;
}
.city-details{
    display: flex;
    gap: 20px;
}
.weather-details{
   
    display: flex;
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.searchData{
    border: 1px solid black;
}
.searchData input {
    border: transparent;
    padding: 5px;
  }
.searchData button {
    border: transparent;
    padding: 5px 15px;
    cursor: pointer;
  }