.container{
    width: 70%;
    margin: auto;
    min-height: 100vh;
    background-color: rgb(255, 238, 229);
    padding: 4vmax 8vmax;
    box-sizing: border-box;
}
.container > form{
    display: flex;
    flex-direction: column;
    
    
}
input,textarea,button{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    margin: 15px;
}
button{
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0);
    color: white;
}