.task{
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    align-items: center;
    
}
.task > div{
    width: 100%;
}
.task span{
    color: rgba(0, 0, 0, 0.673);
}
.task button{
    border-radius: 100%;
    font-size: 1.6rem;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.task button:hover{
   background-color: rgb(209, 11, 11);
}
