*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.main{
    min-height: 100vh;
    background-color: #282c34;
    display: flex;
    
    justify-content: center;
}
.notes{
   
    width: 500px;
    padding: 10px;
    text-align: center;
    color: #ffffff; 
}
.form-div{
    display: flex;
    margin: 20px 2px;
    gap: 5px;
   
}
.form-div input{
    width: 90%;
    padding: 5px 10px;
    outline: none;
    border-radius: 20px;
    border: none;
}
.form-div button{
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
}
h3{
    text-align: start;
}