*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.main{
    min-height: 100vh;
    background-color: #282c34;
    display: flex;
    
    justify-content: center;
}
.notes{
   
    width: 500px;
    border: 1px solid red;
    padding: 10px;
    text-align: center;
    color: #ffffff; 
}
